version: "3.2"

services:
  jekyll:
    image: jekyll/jekyll
    environment:
      - JEKYLL_GITHUB_TOKEN={JEKYLL_GITHUB_TOKEN}
      - SSL_CERT_FILE=./cacert.pem
    command:
      - /usr/jekyll/bin/jekyll
      - serve
      - --livereload
      - --watch
      - --incremental
      - --host
      - 0.0.0.0
      - --port
      - "8080"
    volumes:
      - type: "bind"
        source: "./"
        target: "/srv/jekyll"
    ports:
      - "8080:8080"  
      - "35729:35729"  
