---
title: Dein Makerspace in Basel!
permalink: "/"
layout: splash
header:
  overlay_image: "/assets/images/home/SF_by_night_home.jpg"
  cta_label: Anfahrt
  cta_url: "/anfahrt/"
excerpt: Die Starship Factory ist dein Makerspace in Basel. Du findest uns an der
  Klybeckstrasse 141. Komm doch einfach mal vorbei!<br/> 
  <a class="btn btn--success" href="/2021/04/18/wir-oeffnen-wieder/">
  <i class="fas fa-exclamation-triangle"></i>&nbsp;&nbsp;Wir öffnen ab dem 19. April wieder unsere Türen für die Öffentlichkeit. Mehr Informationen &gt;&nbsp;
  </a>
intro:
- excerpt: Wir sind ein Makerspace, Hackerspace, Treffpunkt und eine Mitmachwerkstatt.
    Bei uns trifft sich eine bunte Mischung aus kreativen BastlerInnen, KünstlerInnen und
    Geeks aus Basel und Umgebung.<br/>
    Unsere Vereinsmitglieder und Gäste basteln an eigenen und gemeinsamen Projekten, 
    lernen, lehren und inspirieren einander. Im folgenden wollen wir dir gerne einige 
    unserer Möglichkeiten und Bereiche vorstellen.
feature_row1:
- image_path: "https://starshipfactory.github.io/assets/images/snippet_images/content/neue_3d-druck-ecke.jpeg"
  alt: Bild 3D-Drucker
  title: 3D-Druck
  excerpt: Wir haben aktuell einen Maschinenpark von mehren 3D-Druckern. Auf diesen
    können eigene 3D-Modelle aus Plastik ausgedruckt werden.
  url: "https://wiki.starship-factory.ch/Equipment/3D-Drucker/"
  btn_label: Mehr lesen
  btn_class: btn--inverse
feature_row2:
- image_path: "https://wiki.starship-factory.ch/Equipment/CNC_Portalfraese/800x-image4.jpg"
  alt: Bild CNC-Fraese
  title: CNC Bearbeitung
  excerpt: Mit unserer CNC-Fraese können wir Teile aus Holz oder anderen weichen
    Materialien fertigen.
  url: "https://wiki.starship-factory.ch/Equipment/CNC_Portalfraese/"
  btn_label: Mehr lesen
  btn_class: btn--inverse
feature_row3:
- image_path: "https://wiki.starship-factory.ch/Equipment/KH-3020/Laser_KH-3020.jpg"
  title: Laser Cutter
  excerpt: Mit unserem Laser-Cutter kann man aus Sperrholz oder Acrylglas Bauteile
    ausschneiden, und vieles mehr!
  url: "https://wiki.starship-factory.ch/Equipment/KH-3020/"
  btn_label: Mehr lesen
  btn_class: btn--inverse
feature_row4:
- image_path: "/assets/images/snippet_images/content/die-starship-factory-zum-mitmachen.jpg"
  alt: Bild Elektronik
  title: Elektronik
  excerpt: In der Starship Factory gibt es ein sehr gut ausgestattetes Elektroniklabor. Hier kannst du nach Herzenslust löten, SMD-Platinen fertigen oder deine Arduino Schaltungen testen. Wir stehen Elektronikneulingen auch gerne mit Rat und Tat zur Seite.
  url: "https://wiki.starship-factory.ch/Equipment/#Elektronikecke"
  btn_label: Mehr lesen
  btn_class: btn--inverse
feature_row5:
- image_path: "/assets/images/snippet_images/ein-t-shirt-ladt-zur-produktion-eigener-t-shirts-ein_2.jpeg"
  alt: Folien plotten
  title: Folien plotten
  excerpt: In unserer Textilecke kann man Folien für verschiedenste Zwecke ausplotten, unter anderem für den T-Shirt Druck oder um eigene Aufkleber zu designen. Am Besten bringst du dein Design direkt als SVG Grafik mit!
  url: "https://wiki.starship-factory.ch/Equipment/T-Shirt_Druck/"
  btn_label: Mehr lesen
  btn_class: btn--inverse
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row1" type="left" %}
{% include feature_row id="feature_row2" type="right" %}
{% include feature_row id="feature_row3" type="left" %}
{% include feature_row id="feature_row4" type="right" %}
{% include feature_row id="feature_row5" type="left" %}


<h3 class="archive__subtitle">Neuste Blogeintraege</h3>

{% for post in site.posts limit:5 %}
{% include archive-single.html %}
{% endfor %}

<p class="text-center">
    <a href="/blog/page2/" class="btn btn--inverse">Mehr Blogeintraege</a> 
</p>
